@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
@import "reset.css";

// colors
$dark : rgb(22, 22, 22);
$vegetarian : rgb(145, 255, 136);
$glutenfree : rgb(220, 143, 66);

html{
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}
*, *:before, *:after{
  -moz-box-sizing    : inherit;
  -webkit-box-sizing : inherit;
  box-sizing         : inherit;
}
::selection{
  //background : $colorSelection;
  //color      : rgb(255, 255, 255);
}
a{
  color           : inherit;
  cursor          : pointer;
  text-decoration : none;
}
.h{
  display : none !important;
}

/* --------------------------------------- */
/* --------------------------------------- */
body{
  overflow              : hidden;
  position              : relative;
  z-index               : 1;
  background            : url(../img/bg1.jpg) center center fixed;
  background-size       : cover;
  min-height            : 100vh;
  width                 : 100vw;
  font-family           : "Open Sans", Arial, sans-serif;
  font-weight           : 300;
  font-size             : .8em;
  line-height           : 1.4em;
  color                 : $dark;
  //user-select: none;
  -webkit-touch-callout : none;
}
main{
  touch-action : pan-y;
  transition   : all 500ms ease-in-out;

  section{
    position : relative;
    overflow : hidden;

    > *{
      background : rgba(255, 255, 255, .5);
      margin-top : 1px;
      padding    : 18px 0;
    }

    li{
      position         : relative;
      background-color : transparent;
      padding          : 7px 14px;
      transition       : background-color 750ms;

      &:hover{
        background-color : rgba(255, 255, 255, .3);
      }

      aside{
        position       : absolute;
        top            : 0;
        right          : 0;
        width          : 3px;
        height         : 100%;
        vertical-align : middle;
        text-indent    : 100%;
        white-space    : nowrap;
        overflow       : hidden;
        cursor         : help;

        &.veg{
          background-color : $vegetarian;
        }

        &.glf{
          background-color : $glutenfree;
        }
      }
    }

    h2{
      margin-top : 0;
      padding    : 25px 0 15px;
      font-size  : 1.8em;
      text-align : center;

      time{
        display     : block;
        margin-top  : 8px;
        font-size   : .5em;
        font-weight : 400;
      }
    }

    p{
      opacity    : .7;
      text-align : center;
    }

    span{
      float       : right;
      font-weight : 400;
    }
  }
}
main > section > h3{
  display : none;
}
// cool
// cool
// cool
// cool
// cool

@media only screen and (min-width : 1295px) {

  main{
    display         : flex;
    align-items     : flex-start;
    justify-content : space-around;
    width           : 100%;
    max-width       : 1600px;
    margin          : 0 auto;
    padding         : 50px 20px;

    section{
      width         : 250px !important;
      margin        : 1px;
      border-radius : 5px;
    }
  }
}
@media only screen and (max-width : 1294px) and (min-width : 1100px) {

  main{
    display         : flex;
    align-items     : flex-start;
    justify-content : space-around;
    width           : calc(100vw + 100vw / 5);
    margin          : 0;
    padding         : 50px 0 50px 60px;

    section{
      width         : 250px !important;
      margin        : 1px;
      border-radius : 5px;
    }
  }
}
@media only screen and (max-width : 1099px) and (min-width : 650px) {

  main{
    display         : flex;
    align-items     : flex-start;
    justify-content : space-around;
    width           : calc(100vw + 100vw / 5 * 3.2);
    margin          : 0;
    padding         : 50px 0 50px 20px;

    section{
      width         : 250px !important;
      margin        : 1px;
      border-radius : 5px;
    }
  }
}
@media only screen and (max-width : 649px) {

  main{
    display         : flex;
    align-items     : flex-start;
    justify-content : space-around;
    width           : calc(100vw * 5);
    margin          : 0;
    padding         : 50px 0;

    section{
      width         : 100vw !important;
      margin        : 1px 25px;
      border-radius : 5px;
    }
  }
}



/* --------------------------------------- */
/* --------------------------------------- */


.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}










